ul{
  list-style-type:none;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
background-color: #006666;
  position: fixed;
  top:0;

}
li{
  display: inline;
  float: left;
  text-align: center;
 
}
li a{
  display: block;
  text-decoration: none;
  padding: 10px 25px;
    color: #b2d8d8;
  font-weight:bold;
  font-size:18px;
  font-family: 'Satisfy', cursive;
}
li a:hover {
   background-color: #b2d8d8;
  color: #006666;
}
.container1 {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  height: 90px;
  padding: 8px;
  border-radius: 10px;
}
.name {
  background-color: #FFA8A9;
  border: 8px solid #f9e5bc;
  padding: 5px;
  font-size: 25px;
  text-align: center;
  font-family: 'Bad Script', cursive;
}
.des {
  background-color: #ccdaff;
  border: 8px solid #f9e5bc;
  padding: 5px;
  font-size: 25px;
  text-align: center;
  font-family: 'Bad Script', cursive;
}
h3{
  font-family: 'Handlee', cursive;
  font-size: 20px;
  color:red;
}
body{
  background:#ccdaff
}
.container2{
    display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  height: auto;
  padding: 5px;
  border-radius: 10px;
}
h1{
  text-align:center;
  font-size:40px;
font-family: 'Satisfy', cursive;
}
.top{
   background-color: #C58882;
  border: 8px solid #C58882;
  padding: 5px;
  font-size: 25px;
  text-align: center;
  font-family: 'Bad Script', cursive;
}

div.bio{
  font-family: 'Satisfy', cursive;
  float: center;
  text-align: center;
  z-index:-2;
}


div.sticky {
  position: sticky;
  top: 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.image{
  position: relative;
  top: 650px;
  z-index:-4;
}

@media only screen and (max-width: 768px) {
 
  body {
    background-color: #c0dce8;
  }
  ul{
    background-color:#545454 ;
    color:#c0dce8;
  }
  li a:hover {
   background-color: #c2c4e4 ;
  color: 	#545454;
}
 div.bio{
    width: 70%;
  height: 60%;
}
